- var sections = { "Style Tile": "index.html", "Elements": "sections/markup/elements.html", "Typography": "sections/typography/fillerama.html", "Blog": "sections/canary/blog.html", "UI Patterns": "sections/ui/patterns.html", "Color Guide": "colors.html" }
